@font-face {
  font-family: 'MyFont';
  src: url('./Neucha-Regular.ttf') format('ttf'),
    url('./OpenSans-VariableFont_wdth\,wght.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./nyam.jpeg');
  font-family: 'MyFont';
}